version: 2
jobs:
  build:
    docker:
      - image: php:7.2-cli
        environment:
          GOSS_FILES_STRATEGY: cp
          DOCKER_VERSION: 18.09.2
    working_directory: ~/repo
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install Docker
          command: |
            curl -L -o "/tmp/docker-${DOCKER_VERSION}.tgz" "https://download.docker.com/linux/static/stable/x86_64/docker-${DOCKER_VERSION}.tgz" \
            && tar -xz -C /tmp -f "/tmp/docker-${DOCKER_VERSION}.tgz" \
            && mv /tmp/docker/* /usr/bin \
            && docker --version
      - run:
          name: Install goss
          command: curl -fsSL https://goss.rocks/install | sh && goss --version
      - run:
          name: Build container.
          command: docker build -t integratedexperts/ci-builder:latest .
      - run:
          name: Start container
          command: dgoss run -i integratedexperts/ci-builder:latest
      - run:
          name: Show versions
          command: ./versions.sh "integratedexperts/ci-builder:latest"
